<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
    <pluginGroup>me.fxs007</pluginGroup>  
  </pluginGroups>

<servers>
      <server>
        <id>Tomcat</id>
        <username>tool</username>
        <password>tool</password>
      </server>
      <server>
        <id>nexus-snapshots</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
      <server>
        <id>nexus-release</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
      <server>
        <id>nexus-site</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
</servers>

  <!-- mirrors tag does not support properties -->
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://localhost:8081/nexus/content/repositories/central/</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>nexus</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>nexus-snapshot</id>
          <url>http://localhost:8081/nexus/content/repositories/snapshots/</url>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <!--<updatePolicy>dailay</updatePolicy>
            <updatePolicy>interval:5</updatePolicy>-->
          </snapshots>
        </repository>
        <repository>
          <id>nexus-release</id>
          <url>http://localhost:8081/nexus/content/repositories/releases/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

</settings>
